.admin-plan-container {
    margin: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    color:black;
}

.admin-plan-container button {
    margin-right: 10px;
    margin-bottom: 20px;
}

.admin-plan-container table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.admin-plan-container th,
.admin-plan-container td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

.admin-plan-container th {
    background-color: #e9ecef;
    color: #495057;
}

.admin-plan-container td {
    background-color: #ffffff;
}

.admin-plan-container .btn-danger {
    margin-left: 10px;
}

