/* src/components/Register.css */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/register-background2.jpg'); /* Asegúrate de que la imagen esté en public/images */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
  }